.bsp
.vscode/
.bloop/
.metals/
.DS_Store
**/target
.commit-id
.idea/
DUMPS
targets.tar.gz
*.iml
.ignore/

# Ignore fhir definitions fetched from npm
fhir/
node_modules/
package-lock.json
package.json
